<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>
  {% if page.title %}{{ page.title }} | {% endif %} {{ site.title }} -
  {{site.shortdesc}}
</title>

{%- seo -%}

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
<script
  src="https://kit.fontawesome.com/a12651e5cf.js"
  crossorigin="anonymous"
></script>
<link
  rel="alternate"
  type="application/atom+xml"
  href="{{ '/feed.xml' | relative_url }}"
  title="{{ site.title }}"
/>
<!-- <script src="{{ '/assets/js/justified-grid.js' | relative_url }}"></script> -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<!-- MailerLite Universal -->
<script>
  (function (w, d, e, u, f, l, n) {
    (w[f] =
      w[f] ||
      function () {
        (w[f].q = w[f].q || []).push(arguments);
      }),
      (l = d.createElement(e)),
      (l.async = 1),
      (l.src = u),
      (n = d.getElementsByTagName(e)[0]),
      n.parentNode.insertBefore(l, n);
  })(
    window,
    document,
    "script",
    "https://assets.mailerlite.com/js/universal.js",
    "ml"
  );
  ml("account", "1241183");
</script>
<!-- End MailerLite Universal -->

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-WZ8GJYQRKE"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-WZ8GJYQRKE");
</script>
